.main-pane {
    -fx-background-color: #f0f0f0; /* Background color */
    -fx-border-color: #766a6a; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Border radius */
}

.vbox {
    -fx-spacing: 10px; /* Spacing between VBox children */
}

.button {
    -fx-background-color: #4CAF50; /* Green background */
    -fx-text-fill: white; /* White text color */
    -fx-font-family: "Arial"; /* Font family */
    -fx-font-size: 12px; /* Font size */
    -fx-pref-width: 100px; /* Preferred width */
    -fx-pref-height: 30px; /* Preferred height */
    -fx-background-radius: 5px; /* Button border radius */
}

.button:hover {
    -fx-background-color: #45a049; /* Darker green background on hover */
}

.label {
    -fx-text-fill: #666; /* Gray text color */
    -fx-font-family: "Cambria"; /* Font family */
    -fx-font-size: 14px; /* Font size */
}

.blue-button {
    -fx-background-color: #007bff; /* Blue color */
    -fx-text-fill: white; /* White text color */
}
