

/* Body */
.root {
    -fx-font-family: "Montserrat", sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: #00000099;
}

/* Headings */
.label, .h1, .h2, .h3, .h4, .h5, .h6 {
    -fx-font-family: "Montserrat", sans-serif;
}

.h1, .h2 {
    -fx-font-size: 38px;
    -fx-text-fill: #c5ba07;
}

.h3 {
    -fx-font-size: 28px;
    -fx-text-fill: #c5ba07;
}

/* Buttons */
.MFXbutton {
    -fx-font-family: "Montserrat", sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(to right, #335d00, rgb(51, 93, 0));
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.button:hover {
    -fx-background-color: rgb(197, 186, 7);
}

/* Text Fields */
.text-field {
    -fx-font-family: "Montserrat", sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-border-color: #da5f46;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-font-weight: bold;
}

.text-field:focused {
    -fx-border-color: #c5ba07;
}

/* Labels */
.label {
    -fx-font-family: "Montserrat", sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
}

/* Anchors */
.anchor-pane {
    -fx-background-color: #000;
}

/* Borders */
.border {
    -fx-border-color: #c5ba07;
}

/* Dropdown */
/* Dropdown */
.dropdown-menu {
    -fx-background-color: #1c1c1c;
    -fx-border-radius: 0;
    -fx-padding: 24px 0 26px;
    -fx-min-width: 280px;
}

.dropdown-item {
    -fx-text-fill: #c8c8c8;
    -fx-font-size: 12px;
    -fx-padding: 0.55px 2rem; /* corrected from 0.55rem */
}
/* CSS for context menu */
.context-menu {
    -fx-background-color: #f5f5f5; /* Background color */
    -fx-border-color: #ccc; /* Border color */
    -fx-border-width: 1px; /* Border width */
}

.menu-item {
    -fx-padding: 5px 20px; /* Padding around each menu item */
}

.menu-item:selected {
    -fx-background-color: #e0e0e0; /* Background color of selected menu item */
    -fx-text-fill: black; /* Text color of selected menu item */
}
.dropdown-item:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #c5ba07;
}
/* style.css */

/* Customize the appearance of the menu */
.context-menu {
    -fx-background-color: #f0f0f0; /* Background color */
    -fx-border-color: #cccccc; /* Border color */
}

/* Customize the appearance of menu items */
.context-menu-item {
    -fx-text-fill: #333333; /* Text color */
}

/* Hover effect for menu items */
.context-menu-item:hover {
    -fx-background-color: #cccccc; /* Background color on hover */
}

/* Separator line between menu items */
.context-menu-separator {
    -fx-background-color: #cccccc; /* Separator color */
}

/* Arrow icon */
.context-menu > .right-arrow {
    -fx-background-color: transparent; /* Transparent background */
    -fx-background-repeat: no-repeat; /* Prevent repeating the arrow image */
}